body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
  text-align: center
}
header a{
  background-color: rgba(14, 172, 239, 0.196);
  border-radius: 10px;

}
.images{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.caption{
  text-align: center;
  font-size: small;
}
.p{
  display: flex;
  justify-content: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;

}
#details{
  display: flex;
  float: left;
  background-color: rgba(174, 13, 13, 0.728);
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

}
.Contact{
  width: 25%;
  text-align: center;
}
.correspondence{
  
  width: 25%;
  text-align: center;
  
  
}
.link{
  width: 25%;
  text-align: center; 
}
.Follow{
  width: 25%;
  text-align: center;
}
